.page-title
  My Ravelry To Do List
- if flash[:notice]
  .flash.flash-notice
    = flash[:notice]
- if flash[:error]
  .flash.flash-error
    = flash[:error]

%table
  - @projects.each do |p|
    %tr.project
      %td.thumbnail-cell
        = link_to(p.thumbnail_url ? "" : "upload image", p.upload_photos_url, :style => thumbnail_style(p), :class => 'thumbnail' )
        = link_to(p.name, p.url)
      %td
        #{ p.todo_list.try(:html_safe) }

#powered_by
  Powered by #{ link_to('Ravelry', 'http://www.ravelry.com/', :target => '_blank') }

